<link rel="shortcut icon" href="{{appUrl}}/images/favicon.ico" type="image/vnd.microsoft.icon" />
<title>{{title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="{{#each keywords}}{{#if @index}}, {{/if}}{{this}}{{/each}}">
<meta name="description" content="{{description}}">
<meta name="author" content="{{author}}">
<meta name="robots" content="index, nofollow">
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
{{{css}}}
